candy-pink/src/main/resources/checker.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://checker/web/ws/schema" elementFormDefault="qualified">

    <xs:element name="getCheckerRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="url" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getCheckerResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="resultCode" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>